/* WEB */
@media only screen and (min-width: 769px) {
  .about-container {
    background-color: #3c6255;
    height: 100%;
    padding: 66px 20vw 66px 20vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .pic-and-about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .about-pic {
    height: auto;
    width: 15em;
  }

  .pic-container {
    grid-row: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-bio {
    font-size: 0.9em;
    margin: 0;
    text-align: left;
  }

  .about-about {
    font-size: 2em;
    margin-bottom: 0.5em;
    font-family: "Righteous", cursive;
    color: #fff87c;
  }

  hr.rounded {
    border-top: 5px solid #fff87c;
    border-radius: 5px;
    width: 100%;
  }
  .divider {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bi:hover {
    color: #fff87c;
  }

  .icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
  }

  .icon-button {
    border: 0;
    height: 2.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em 0 1em;
    background-color: #3c6255;
  }

  .icon-button:hover {
    transform: scale(1.3);
  }
}

/* MOBILE */

@media only screen and (max-width: 768px) {
  .about-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #3c6255;
    padding: 0 5vw 0 5vw;
  }

  .pic-and-about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .about-pic {
    height: 10em;
  }

  .pic-container {
    grid-row: 1;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .about-bio {
    font-size: 0.9em;
    margin: 0;
    text-align: left;
    padding: 0 5vw 0 5vw;
  }

  .about-about {
    font-size: 2em;
    margin-bottom: 0.5em;
    font-family: "Righteous", cursive;
    color: #fff87c;
  }

  hr.rounded {
    border-top: 5px solid #fff87c;
    border-radius: 5px;
    width: 100%;
  }
  .divider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw 5vw 5vw 5vw;
  }

  .bi:hover {
    color: #fff87c;
  }

  .icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.5em;
  }

  .icon-button {
    border: 0;
    height: 2.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em 0 1em;
    background-color: #3c6255;
    color: #fff87c;
  }

  .icon-button:hover {
    transform: scale(1.3);
  }
}
