/* WEB */
@media only screen and (min-width: 769px) {
  .brand-pic-text {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .right-aligned {
    justify-content: flex-end;
  }

  .color-nav {
    background-color: black;
  }

  .link-text {
    color: white;
  }

  .link-text:hover {
    color: #fff87c;
    border-radius: 1em;
    transform: scale(1.1);
  }

  .brand-text {
    color: white;
    padding-left: 0.5em;
    font-family: "Righteous", cursive;
  }

  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

/* MOBILE */
@media only screen and (max-width: 768px) {
  .brand-pic-text {
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  .right-aligned {
    justify-content: flex-end;
  }

  .color-nav {
    background-color: black;
    padding: 0;
  }

  .link-text {
    color: white;
  }

  .link-text:hover {
    color: #fff87c;
    border-radius: 1em;
    transform: scale(1.1);
  }

  .brand-text {
    color: white;
    padding-left: 0.5em;
    font-family: "Righteous", cursive;
  }

  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}
