/* MAIN CONTAINER */
.photography-container {
  background-color: hsl(159, 24%, 31%);
  min-height: 95vh;
}

/* PHOTOGRAPHY TITLE AND DIVIDER */
.photography-title-container {
  display: flex;
  justify-content: center;
}
.photography {
  font-size: 2em;
  color: #fff87c;
  padding: 1em 25vw 0 25vw;
  font-family: "Righteous", cursive;
}

.image-text {
  display: flex;
  justify-content: center;
  font-size: 8vw;
  align-items: center;
  color: #fff87c;
}

.caption-center {
  top: 53%;
  transform: translateY(-50%);
  text-align: center;
}

.carousel-image {
  opacity: 0.8;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 30vw 0 30vw;
}

.photo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1.5em 30vw 1.5em 30vw;
}
