/* WEB */
@media only screen and (min-width: 769px) {
  .resume-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    background-color: #3c6255;
    align-items: center;
    padding: 66px 20vw 66px 20vw;
  }

  .resume-title-container {
    display: flex;
    justify-content: center;
  }

  /* RESUME INSTRUCTION AND BUTTON */
  .resume-instruction-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resume {
    font-size: 2em;
    color: #fff87c;
    font-family: "Righteous", cursive;
    margin: 0;
  }

  .resume-instruction {
    margin: 1em 0 1em 0;
    font-size: 1em;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .download-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    margin-bottom: 1em;
  }

  .download-button {
    border-radius: 5px;
    background: #fff87c;
    border: 1px;
    box-shadow: none;
    height: 2em;
    text-decoration: none;
  }

  /* RESUME */
  .iframe {
    margin: 1em;
    width: 50vw;
    height: 51em;
  }
}

/* MOBILE */
@media only screen and (max-width: 768px) {
  .resume-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    background-color: #3c6255;
    align-items: center;
    padding: 0 5vw 0 5vw;
  }

  .resume-title-container {
    display: flex;
    justify-content: center;
  }

  /* RESUME INSTRUCTION AND BUTTON */
  .resume-instruction-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resume {
    font-size: 2em;
    color: #fff87c;
    font-family: "Righteous", cursive;
    margin: 0;
  }

  .resume-instruction {
    margin: 1em 0 1em 0;
    font-size: 1em;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 95vw;
  }

  .download-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    margin-bottom: 1em;
  }

  .download-button {
    border-radius: 5px;
    background: #fff87c;
    border: 1px;
    box-shadow: none;
    height: 2em;
    text-decoration: none;
  }

  /* RESUME */
  .iframe {
    margin: 1em;
    width: 95vw;
    height: 100%;
  }
}
